/* Mobile First */
    /* Basic Page Styles */
    body {
        font-family: 'Open Sans', sans-serif;
        -webkit-text-size-adjust: 100%;
    }
    img {
        width: 100%;
    }

    a img {
         outline:none;
    }

    a {
    outline: 0;
    }

    a:visited {
        outline:none;
    }
    
    .hidden {
        display: none;
    }
    /* Page Background Colors */
    .scenario_01 {
        background-color: $basegreen;
    }
    .scenario_02 {
        background-color: $basebiege;
    }
    .scenario_03 {
        background-color: $baseorange;
    }
    /* Element BG Tint Colors */
    .lighttint {
        background-color: $lighttint;
    }
    .midtint {
        background-color: $middletint;
    }
    .medtint {
        background-color: $mediumtint;
    }
    .darktint {
        background-color: $darktint;
    }
    /* Element BG Colors */
    .color01 {
        background-color: #fc9775;
    }
    .color02 {
        background-color: #d6ba9a;
    }
    .color03 {
        background-color: #319d97;
    }
    /* Type Styles */
    p {
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-size: 1.2em;
        font-weight: 300;
        font-style: italic;
        line-height: 1.4em;
        letter-spacing: .01em;
        padding: 0 0 0 0;
        max-width: 650px;
        width: 92%;
        margin: 0 auto 1em auto;
    }

    h2 {
        font-family: 'Oldenburg', cursive;
        color: white;
        font-size: 1.5em;
        line-height: 1.4em;
        margin: 0 auto;
        width: 92%;
        max-width: 650px;
    }
    .split h2 {
        max-width: 700px;
    }
    .title h2 {
        font-family: 'Open Sans', cursive;
        color: #3c5c62;
        max-width: 700px;
        margin: 0 auto .5em auto;
        font-size: 1.3em;
    }
    hr {
        max-width: 30%;
        margin-top: .5em;
        margin-bottom: 1.5em;
        border: 0;
        height: 0;
        border-top: 2px solid white;
    }
    /* Layout Styles */
    .wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .top {
        width: 100%;
        min-height: 300px;
        text-align: center;
        position: static;
    }
    .intro {
        width: 95%;
        margin: 0 auto;
        text-align: center;
        p {
            color: #3c5c62;
            font-style: normal;
        }
    }
    .logo {
        max-width: 300px;
        margin: 0 auto;
        padding: 1em 0 1em 0;
    }
    .social {
        width: 6.25em;
        margin: 1em auto 1em auto;
        overflow: hidden;
        opacity: 0.8;
    }
    .facebook {
        width: 2.7em;
        height: 2.7em;
        float: left;
    }
    .twitter {
        width: 2.7em;
        height: 2.7em;
        float: right;
    }
    .bottom {
        width: 100%;
        min-height: 300px;
        text-align: center;
        position: static;
    }
    .half_left {
        width: 100%;
        min-height: 314px;
    }
    .half_right {
        width: 100%;
        min-height: 314px;
    }
    .col01 {
        width: 100%;
        min-height: 314px;
    }
    .col02 {
        width: 100%;
        min-height: 314px;
    }
    .col03 {
        width: 100%;
        min-height: 314px;
    }
    .content {
        width: 100%;
        height: 314px;
        min-height: 314px;
        position: static;
        display: table;
    }
    .contentwrap {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    /* Misc Page Styles */
    .animalicon {
        max-width: 4em;
        margin: 0 auto;
        padding: 0 0 1em 0;
        opacity: 0.8;
    }
    .arrowicon {
        max-width: 3.5em;
        margin: 0 auto;
        padding: 1.25em 0 0 0;
        opacity: 0.8;
    }
    .home .animalicon {
        padding: 1.5em 0 1em 0;
    }
    .home .arrowicon {
        padding: 1.25em 0 1.5em 0;
    }
    footer {
        clear: both;
        p {
            font-size: 1em;
            a {
                color: white;
            }
            a:hover {
                text-decoration: none;
            }
        }
    }
    /* End Page Styles */
    .end .circle {
        height: 250px;
        width: 250px;
        background-color: black;
        border: 3px solid white;
        @include roundcorners(125px);
        margin: 1em auto;
        overflow: hidden;
        img {
            width: auto;
            height: 100%;
            @include roundcorners(125px);
        }
    }
    .end p {
        max-width: 700px;
        margin: 1.5em auto 1em auto;
        text-align: center;
    }
    .end ul {
        padding: 0 5%;
        li {
            font-family: 'Oldenburg', cursive;
            font-size: 1.3em;
            margin: 0 0 1em 0;
            a {
                padding: 1em;
                color: white;
                text-decoration: none;
                display: block;
            }
        }
    }
    .end .content {
        position: absolute;
        width: 100%;
        height: 100%;
        display: table;
    }
    .end .contentwrap {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
/*End Mobile First*/

/* Split Layout Fix on tall screens */
@media only screen and (max-width: 768px) and (min-height: 601px) {
    .split .top {
        height: 50%;
    }
    .split .bottom {
        height: 50%;
    }
    .split .content {
        height: 100%;
    }
}/* End Split Fix Layout */

/* Tablets(H) + Larger */
@media only screen and (min-width: 769px) {
    .hide {
        display: none;
    }
    .top {
        height: 50%;
        overflow: hidden;
        position: relative;
    }
    .bottom {
        height: 50%;
        overflow: hidden;
        position: relative;
    }
    .home .top {
        height: 50%;
    }
    .home .bottom {
        height: 50%;
    }
    .half_left {
        width: 50%;
        height: 100%;
        position: absolute;
        left: 0;
    }
    .half_right {
        width: 50%;
        height: 100%;
        position: absolute;
        left: 50%;
    }
    .col01 {
        width: 33.335%;
        height: 100%;
        position: absolute;
        left: 0;
    }
    .col02 {
        width: 33.335%;
        height: 100%;
        position: absolute;
        left: 33.335%;
    }
    .col03 {
        width: 33.33%;
        height: 100%;
        padding-right: 1px;
        position: absolute;
        left: 66.670%;
    }
    .content {
        height: 100%;
        margin: 0 auto;
        position: absolute;
    }
    .home .animalicon {
        padding: 0 0 1em 0;
    }
    .home .arrowicon {
        padding: 1.25em 0 0 0;
    }
    .end ul {
        max-width: 600px;
        margin: 0 auto;
        li {
            display: block;
            width: 50%;
            margin:0 auto;
            a {
                padding: 1em;
                color: white;
                text-decoration: none;
                display: block;
            }
        }
    }
}/* End Tablets(H) + Larger */

/* Widescreens */
@media only screen and (min-width: 1025px) {
    .hide {
        display: block;
    }
}/* End Widescreens */