// Base Colors

$basegreen:#287771;
$basebiege:#cc9869;
$baseorange:#f47056;

$lighttint: rgba(255,255,255, 0.4);
$middletint:rgba(255,255,255, 0.3);
$mediumtint:rgba(255,255,255, 0.2);
$darktint:rgba(255,255,255, 0.1);

@mixin roundcorners($radius) {
    -moz-border-radius: $radius;    // firefox
    -webkit-border-radius: $radius; // safari/chrome
    border-radius: $radius;         // CSS3, works in IE9
}

